@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #2F0254;
    font-family: 'Poppins', sans-serif; 
  }
  
  header h1 {
    color: #E4DAF5;
    font-size: 2rem;
    font-weight: 500;
  }
  
  header nav a {
    font-weight: 400;
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
  }
  
  header nav a:hover {
    color: #d719f9;
    text-decoration: none;
  }

  header .hhigh{
    color: #843CFF;
  }
  

  @media (max-width: 768px){
    header nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-size: 0.8rem;
    }

  }