.socials-container {
    display: flex;
    gap: 1rem; /* Space between icons */
    justify-content: center;
    align-items: center;
    background-color: #1B0031;
  }
  
  .social-icon {
    width: 40px; /* Smaller size */
    height: 40px;
    transition: transform 0.2s;
  }
  
  .social-icon:hover {
    transform: scale(1.1); /* Slight zoom on hover */
  }
  