

.App {
  font-family: 'Arial', sans-serif;
  background-color: #2D034D;
  color: #fff;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

section {
  padding: 60px 20px;
}

a {
  color: #FF1493;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
